@font-face {
  font-family: myFirstFont;
  src: url(Derelict\Regular.woff);
}

html {
  overflow: hidden;
}

body {
  background-image: url("HomeBackground.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 125%;
  /*background-size: auto; This covers on phones, but does not work with the animation*/
  width: 100%;
  height: 100%;
}

.name {
  color: whitesmoke;
  font-size: 10vw;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 30px;
  text-shadow: 3px 2px grey;
  font-family: myFirstFont, Arial;
  -webkit-animation: ease 1s FadeIn forwards;
          animation: ease 1s FadeIn forwards;
}

.Desc {
  /*starter opacitcy*/
  opacity: 0;
  color: whitesmoke;
  font-size: 2vw;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  text-shadow: 3px 2px grey;
  /*May need change of font*/
  font-family: monospace;
  -webkit-animation: ease 1s FadeIn forwards 0.5s;
          animation: ease 1s FadeIn forwards 0.5s;
}

.name:hover {
  color: lightgray;
}

.SVGLines {
  stroke-width: 4px;
  color: white;
}

.SVGLines:hover {
  stroke-width: 6px;
}

.MenuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
}

/*Temp*/
.NavBar {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.507);
  top: -250px;
  left: -10px;
}

.Vids {
  position: absolute;
  top: 0px;
  left: 80px;
  /*SAME SIZE AS HEIGHT OF PARENT BAR*/
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: none;
  /*Text Style*/
  color: white;
  font-size: 2vw;
  font-weight: bold;
}

.Projects {
  position: absolute;
  top: 0px;
  left: 190px;
  /*SAME SIZE AS HEIGHT OF PARENT BAR*/
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: none;
  /*Text Style*/
  color: white;
  font-size: 2vw;
  font-weight: bold;
}

.__Main {
  position: relative;
  width: 100%;
  height: 200%;
  top: -200px;
  left: 0px;
}

/*Loader*/
.redirect {
  color: whitesmoke;
  font-size: 4vw;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 30px;
  text-shadow: 3px 2px grey;
  font-family: myFirstFont, Arial;
}

@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    letter-spacing: 30px;
  }
  50% {
    letter-spacing: 40px;
  }
  100% {
    letter-spacing: 30px;
  }
}

@keyframes loading {
  0% {
    letter-spacing: 30px;
  }
  50% {
    letter-spacing: 40px;
  }
  100% {
    letter-spacing: 30px;
  }
}

#Loading {
  color: whitesmoke;
  font-size: 10vw;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 30px;
  text-shadow: 3px 2px grey;
  font-family: myFirstFont, Arial;
  -webkit-animation: ease 1s FadeIn forwards;
          animation: ease 1s FadeIn forwards;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.Transition {
  position: absolute;
  top: 0px;
  left: 190px;
  /*SAME SIZE AS HEIGHT OF PARENT BAR*/
  width: 100px;
  height: 1000px;
  background-color: transparent;
  border: none;
  /*Text Style*/
  color: white;
  font-size: 2vw;
  font-weight: bold;
}
/*# sourceMappingURL=HomeCss.css.map */